body{
  --color1: #DAD6A6;
  --color2: #C7A079;
  --color3: #905044;
  --color4: #9B001f;
  --color5: #446876;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
