@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
  --color1: #DAD6A6;
  --color2: #C7A079;
  --color3: #905044;
  --color4: #9B001f;
  --color5: #446876;

  background-color: var(--color3);
  height: 100%;
  font-family: 'Varela Round', Geneva, Tahoma, sans-serif
}

.App {
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: var(--color5);
  display: flex;
  height: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.name-input{
  padding: 20px;
}

.order-images{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.order-column{
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  justify-content: flex-start;
  height: 250px;
  font: 
}

.order-column img{
  width: 200px;
  padding-top: 40px;
}

.instruction-list{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions-list-display{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown{
  margin: 10px 30px 20px 30px;
}

.App-footer {
  background-color: var(--color5);
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-right: 100px;
}